@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /* background-image: url('images/EvoK.jpg'); */
}

* {
    box-sizing: border-box;
}

.team-section {
    min-height: 100vh;
    padding: 70px 15px 30px;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.bubbles{
    
    display: flex;
}

.bubbles span{

    width: 30px;
    height: 30px;
    background: #4fc3de;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3de44,
                0 0 50px #4fc3de,
                0 0 100px #4fc3de;
    animation: animate 15s linear infinite;
}

.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #4fc3de44,
                0 0 50px #ff2d75,
                0 0 100px #ff2d75;
}

@keyframes animate 
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100% 
    {
        transform: translateY(-10vh) scale(1);
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.team-section .section-title {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 70px;
}

.team-section .section-title h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-weight: 700;
}

.neon{
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 0 0 10px #71cdec;
    padding-bottom: 40px;
}

.neon:after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0px;
    z-index: -1;
    color: #71cdec;
    filter: blur(10px);

}

.neon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -2;
    opacity: 0.3;
    filter: blur(600px);
}

.team-section .section-title p {
    font-size: 16px;
    text-align: center;
    margin: 15px 0 0;
    color: #ffffff;
    padding-top: px;
    margin-top:46px;
}

.team-section .team-items {

    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-section .team-items .item {
    flex-basis: calc(35% - 30px);
    max-width: calc(25% - 30px);
    transition: all .5s ease;
    margin-bottom: 40px;
}

.team-section .team-items .item img {
    display: block;
    width: 100%;
    border-radius: 8px;
}

.team-section .team-items .item .inner {
    position: relative;
    z-index: 11;
    padding: 0 15px;
}

.team-section .team-items .item .inner .info {
    background-color: #4c7397;
    text-align: center;
    padding: 20px 15px;
    border-radius: 8px;
    transition: all .3s ease;
    margin-top: -5px;
}

.team-section .team-items .item:hover .info {
    transform: translateY(-10px);
}

.team-section .team-items .item:hover {
    transform: translateY(-5px);
}

.team-section .team-items .item .inner .info h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.team-section .team-items .item .inner .info p {
    font-size: 16px;
    font-weight: 400;
    color: #c5c5c5;
    margin: 10px 0 0;
}

.team-section .team-items .item .inner .info .social-links {
    padding-top: 15px;
}


/*responsive*/
@media(max-width: 991px) {
    .team-section .team-items .item {
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px);

    }
}

@media(max-width: 767px) {
    .team-section .team-items .item {
        flex-basis: calc(100%);
        max-width: calc(100%);

    }
}

.team-section .team-items .item .inner .info .social-links a {
    text-decoration: none;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.team-section .team-items .item .inner .info .social-links a span {
    margin-right: 10px;
}

.team-section .team-items .item .inner .info .social-links a:hover {
    background-color: #444;
    box-shadow: 3px 4px 2px 0px rgba(0, 0, 0, 0.226);
}